.App {
  text-align: center;
}
.app {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  text-align: center;
}

.content {
  padding-top: 80px;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  padding: 20px;
}

@media(min-width: 1200px){
.container{
  max-width: 100%!important;
}
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

.app {
  
}

/* Fade-in effect for the Container */
.fade-in-container {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
